@use "global" as *;
.media {
  width: 100%;

  @include mq('md') {
    display: flex;
  }
}

.media__img-wrap {

  @include mq('md') {
    flex: 0 1 50%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.media__content {

  @include mq('md') {
    flex: 0 1 50%;
  }
}

.media__text {
  font-weight: 500;
}
